<section id="projects">
<div class="container">
  <h3>Previous Experience</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    	<h5>
			<b>Google Summer of Code (GSoC) Student Developer - GNOME Foundation (May 2016 - August 2016)</b> <br>
Interned as a Google Summer of Code(GSoC) Student Developer at GNOME Foundation. The Project was about improving the search functionality in GNOME Logs. GNOME Logs is a software to view and organize the Logs on the system by using the journald API. During the summer, I worked on transferring the search functionality from view to model, adding a search popover and writing a search provider which can be used to query results from the GNOME Shell overview. Entire Project abstract can be viewed here:
<a href="https://summerofcode.withgoogle.com/projects/#5228615276953600">Project Abstract</a>. The bugs that I worked on are listed in this document: <a href="https://docs.google.com/document/d/1X444jRRdH0AgixSrUFQdwzfeUTiZ9BLQ4XKZsNbaalI/edit?usp=sharing">Product Submission Document</a>. You can read detailed information regarding my GSoC work in my blog posts: <a href="https://pranavganorkar.wordpress.com/category/gsoc-2016/">Blog</a>.
		</h5>
		<br>
		<h5>
			<b>Software Engineering Intern - IIT Bombay (May 2015 - July 2015)</b> <br>
I worked on a web app named 'RuralICT' which was based on Spring web framework in the backend part and AngularJS, Bootstrap on the front end part. I coded backend and frontend for many functionalities in the app. Git was used for team collaboration. The project was guided by Prof. Ganesh Ramakrishnan (Dept. of CSE, IIT Bombay) under the Eklavya summer internship programme. All my contributions to the project can viewed here: <a href="https://bitbucket.org/pranavg189/ruralict/commits/all">BitBucket</a>
		</h5>
    </div>
  </div>
</div>
</section>
