<section id="projects">
<div class="container">
  <h3>Previous Experience</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<b>Software Engineering Intern - IIT Bombay</b> <br>
I worked on a web app named 'RuralICT' which was based on spring web framework in the backend part and AngularJS, Bootstrap on the front end part. I coded backend and frontend for many functionalities in the app. Git was used for team collaboration.
		</h5>
    </div>
  </div>
</div>
</section>
