<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tapasweni-pathak/Women-GitHubers">Women GitHubbers</a></strong> <br/>
			Collection of the data of Women on GitHub, who inspires to code more, learn more.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tapasweni-pathak/pyQTopic">PyQTopic</a></strong> <br/>
            Package to fetch Topics related data from Quora.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tapasweni-pathak/Horoscope-API">Horoscope API</a></strong> <br/>
            API to get horoscope and other related information.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tapasweni-pathak/Visualization-of-CPU-Scheduling-Algorithms">Visualization of CPU Scheduling Algorithms</a></strong> <br/>
            Visualization of First Come First Serve and Priority Based CPU Scheduling Algorithms.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tapasweni-pathak/Blacklist-By-Words">BlackList By Words</a></strong> <br/>
             Chrome extension to hide Facebook posts containing specific keywords. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/tapasweni-pathak/Help-The-Needy">Nearby NGOs Finder</a></strong> <br/>
This will give the user all the nearby NGOs with a map, given a address.
		</h5>
    </div>
  </div>
</div>
</section>
