<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/pranavg189/miniterm">Miniterm</a></strong> <br/>
			It is a simple linux terminal in C.It uses GTK+ library to draw the UI and uses Unix terminal API(termios) to implement the shell functionality. Concepts of serial communication and pseudo terminals were used in this project.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/pranavg189/p-shell">Pranav's shell</a></strong> <br/>
            My own custom linux shell in C created by me to learn about how shells such as bash,zsh work behind the scenes.It involved concepts of parsing and interpreting the arguments and how shells start a new process.
		</h5>
    </div>
  </div>
</div>
</section>
